<app-user-nav></app-user-nav>
<div class="container" style="margin-top:100px">
  <div class="row">
    <div class="col-md-3" >
      <div class="card">
        <div class="card-header">
          Users
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span><img src="../../assets/avatar.png"
                class="mr-2"
                height="25" width="25"></span>Sunil Gauda</li>
            <li class="list-group-item">
              <span><img src="../../assets/avatar.png" 
                class="mr-2"
                height="25" width="25"></span>Rajendar Singh</li>
            <li class="list-group-item">
              <span><img src="../../assets/avatar.png" 
                class="mr-2"
                height="25" width="25"></span>Garov Sharma
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
  
       <div class="btn btn-primary btn-block mb-3">Add post</div>
       <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://www.foodbusinessnews.net/ext/resources/2019/9/TractorFarm_Lead.jpg?1569426080" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Agriculture</h5>
            <p class="card-text">Agriculture is the science, art and practice of cultivating plants and livestock.[1] Agriculture was the key development in the rise of sedentary human civilization, whereby farming of domesticated species created food surpluses that enabled people to live in cities. The history of agriculture began thousands of years ago.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://images.newindianexpress.com/uploads/user/imagelibrary/2020/2/29/w1200X800/fertiliser_pic_eps.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ploughing</h5>
            <p class="card-text">Agriculture is the science, art and practice of cultivating plants and livestock.[1] Agriculture was the key development in the rise of sedentary human civilization, whereby farming of domesticated species created food surpluses that enabled people to live in cities. The history of agriculture began thousands of years ago.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/foodnavigator-asia.com/article/2018/04/02/new-fssai-regulations-on-organic-farming-impeding-growth-says-advocacy-group/8029417-1-eng-GB/New-FSSAI-regulations-on-organic-farming-impeding-growth-says-advocacy-group.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Fertilizers</h5>
            <p class="card-text">Agriculture is the science, art and practice of cultivating plants and livestock.[1] Agriculture was the key development in the rise of sedentary human civilization, whereby farming of domesticated species created food surpluses that enabled people to live in cities. The history of agriculture began thousands of years ago.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://sreejithpnair.files.wordpress.com/2018/11/together.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Irrigation</h5>
            <p class="card-text">Agriculture is the science, art and practice of cultivating plants and livestock.[1] Agriculture was the key development in the rise of sedentary human civilization, whereby farming of domesticated species created food surpluses that enabled people to live in cities. The history of agriculture began thousands of years ago.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://www.outlookindia.com/public/uploads/gallery/20200624/Farmers_1_20200624.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Plantations</h5>
            <p class="card-text">Agriculture is the science, art and practice of cultivating plants and livestock.[1] Agriculture was the key development in the rise of sedentary human civilization, whereby farming of domesticated species created food surpluses that enabled people to live in cities. The history of agriculture began thousands of years ago.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="http://thewire.in/wp-content/uploads/2016/11/Rice-fields_flickr.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Harvesting</h5>
            <p class="card-text">Agriculture is the science, art and practice of cultivating plants and livestock.[1] Agriculture was the key development in the rise of sedentary human civilization, whereby farming of domesticated species created food surpluses that enabled people to live in cities. The history of agriculture began thousands of years ago.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>